# Part 1

In [1]:
import pandas as pd

path = "input.txt"
data = pd.read_csv(path, sep=" ", encoding='utf-8', header=None)

In [2]:
len(data[0])

2000

In [5]:
data[0][0]

141

In [7]:
sweep = data[0][0]
counter = 0

for i in range(len(data[0])):
    if data[0][i] > sweep:
        counter+=1
    sweep = data[0][i]
    
counter

1184

# Part 2

In [15]:
sums = data.rolling(3).sum()

sums.drop(sums.index[[0,1]])

           0
0        NaN
1        NaN
2      457.0
3      479.0
4      491.0
...      ...
1995  7951.0
1996  7958.0
1997  7969.0
1998  7986.0
1999  8013.0

[2000 rows x 1 columns]

In [17]:
sums_sweep = sums[0][0]
sums_counter = 0

for i in range(len(sums[0])):
    if sums[0][i] > sums_sweep:
        sums_counter+=1
    sums_sweep = sums[0][i]
    
sums_counter

1158