In [1]:
import pandas as pd

path = "input.txt"
data = pd.read_csv(path, sep=" ", encoding='utf-8', header=None)

In [2]:
data

         0   1                  2
0      4-6  b:         bbbdbtbbbj
1      1-6  g:       ggvggbgggstg
2      1-4  s:              lssss
3    13-14  v:  hvvcvvvvvvvvvsvvv
4      3-5  m:              lcmmm
..     ...  ..                ...
995    6-7  k:            kkkkkkl
996    4-6  v:      vmnfvvvvmcmlh
997    6-9  g:      jgcgggkbbmgbs
998    7-8  t:      ttcfwtgjtcttv
999    3-4  j:               tjjj

[1000 rows x 3 columns]

In [15]:
correct = 0
for i, row in data.iterrows():
    minmax = row[0].split("-")
    letter = row[1].replace(":", "")
    count = row[2].count(letter)
    if int(minmax[0]) <= count <= int(minmax[1]):
        correct += 1
print(correct)

454

In [48]:
correct = 0
for i, row in data.iterrows():
    minmax = row[0].split("-")
    letter = row[1].replace(":", "")
    mini = int(minmax[0])-1
    maxi = int(minmax[1])-1
    if (row[2][mini] == letter):
        if(row[2][maxi] != letter):
            correct += 1
    if (row[2][mini] != letter):
        if(row[2][maxi] == letter):
            correct += 1
print(correct)

649